@charset "utf-8";


/*reset*/
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}



body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #333;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}


body {
    overflow-x: hidden;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img,
a,
button,
textarea,
input,
select {
    outline: none !important;
}


img {
    vertical-align: middle;
    border: 0;
}

table {
    border-collapse: collapse;
}

fieldset {
    border: 0 none;
}

input {
    font-size: 1.5rem;
    letter-spacing: -0.1rem;
}

input::placeholder,
textarea::placeholder {
    letter-spacing: -0.1rem;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

input[type=submit] {
    -webkit-appearance: none;
}

textarea {
    vertical-align: middle;
    font-size: 1.5rem;
}

button {
    cursor: pointer;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
    font-weight: normal;
}

address,
i {
    font-style: normal;
}

strong {
    font-weight: normal;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

/*//reset*/





/* 기본 topmenu */


/* 기본 topmenu */

#gnbwrap {
    position: relative;
    width: 100%;
    margin-top: 12px;
}

#tm {
    cursor: pointer;
}

#tm:after {
    content: "";
    display: block;
    clear: both;
}


#tm li.th1:last-child:after {
    display: none;
}

#tm li.th1 ul.gnb_depth2 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    border: 1px solid #ddd;
    background: #fff;
    box-sizing: border-box;
    z-index: 9999;
}

#tm li.th1 a:link {
    color: #333;
}

#tm li.th1 a:visited {
    color: #333;
}

#tm li.th1:hover > a {
    color: #fff;
}

#tm li.th1:hover {
    background: rgb(252, 165, 1);
    background: linear-gradient(360deg, rgba(252, 165, 1, 1) 33%, rgba(251, 126, 3, 1) 100%);
}


#tm li.th1 a.th1_lnk {
    border-bottom: 5px solid #fca501;
    padding-bottom: 32px;
}

#tm li.th1 ul.gnb_depth2 li {
    text-align: center;
}

#tm li.th1 ul.gnb_depth2 li a {
    display: block;
    text-align: center;
    padding: 5px 1.05%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#tm li.th1 ul.gnb_depth2 li:hover a {
    color: #fca501;
}

#header.current .topGnb_wrap {
    height: 276px;

}

.topGnb {
    width: 1425px;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.topGnb h1 {
    float: left;
    width: 25%;
}

.topGnb h1 a img {
    width: 40%;
    transform: translateY(60%);
}

.topGnb_wrap {
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

.top_wrap {
    height: 99px;
}


#tm li.th1 {
    float: left;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

#tm li.th1 ul.gnb_depth2 {
    border: 1px solid #ddd;
}



#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    background-color: #fff;
}

.headerWrap {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 70px;
}

#wrap {
    width: 100%;
}


/*좌측lnb,우측콘텐츠*/
#container {
    position: relative;
    width: 1425px;
    margin: 0 auto;
    padding-top: 30px;
}

/*우측콘텐츠*/

#content {
    height: 783px;
    float: left;
    width: 1115px;
    margin: 0px 0 30px 55px;
    position: relative;
    overflow: auto;
}

/*좌측lnb*/

#left {
    float: left;
    width: 255px;
}

.lnb-list > ul > li > a.orange {
    color: #fca501;
}

.orange i {
    color: #fca501;
    font-size: 12px;
}

.lnb-list ul i {
    font-size: 12px;
}

.lnb {
    width: 100%;
    margin-right: 5%;
    float: left;
    margin-top: 10px;
}

.lnb > h3.member {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #fca501;
    font-size: 30px;
    font-weight: 600;
    color: #fca501;
    text-align: center;
}

.lnb > h3.member > b {
    font-size: 17px;
    color: #f26921;
    font-weight: 550;
}

.lnb > h3.member > span {
    margin-left: 5px;
    font-size: 15px;
    color: #333;
    font-weight: 550;
}

.lnb > h3.member > a {
    float: right;
}

.log-out img {
    width: 20px;
    transform: translateY(25%);
}


.lnb > .lnb-list > ul > li > a {
    display: block;
    border-bottom: 1px solid #bebebe;
    height: 60px;
    line-height: 60px;
    padding-left: 5.2%;
    padding-right: 5%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lnb > .lnb-list > ul > li > a > img {
    width: 15px;
    float: left;
    transform: translateY(32%);
}

.lnb > .lnb-list > ul > li > a > span {
    display: block;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    background: url(../images/sub/deaph1-bg2.png) no-repeat left center;
}

.lnb > .lnb-list > ul > li > ul.deaph2 {
    display: none;
}

.deaph2 > li {
    padding-top: 6.92%;
    padding-bottom: 6.79%;
    border-bottom: 1px solid #bebebe;
}

.border_none {
    padding-bottom: 7.14%;
    border-bottom: none !important;
}

.border_none2 {
    border-bottom: none !important;
}

.lnb > .gnb-close-btn {
    text-align: right;
    display: none;
}

.deaph3 > li:first-child {
    padding-top: 4.26%;
}

.deaph3 > li:last-child {
    padding-bottom: 0.71%;
}

.lnb > .lnb-list > ul > li > ul.deaph2 > li > a {
    display: block;
    background: url(../images/sub/deaph2-bg.png) no-repeat left center;
    color: #333;
    font-size: 14px;
    padding-left: 5.2%;
}

.lnb > .lnb-list > ul > li > ul.deaph2 > li > a.on,
ul.deaph2 > li > a:hover {
    color: #333;
}

.lnb-list ul .fir_li:hover .deaph2 li {
    background: #fff;
}

.lnb .lnb-list ul li .deaph2 li:hover > a {
    color: #fca501;
}

.lnb > .lnb-list > ul > li.on > ul.deaph2 {
    display: block;
}

.lnb .deaph3 li a {
    font-size: 12px;
    padding-left: 5.2%;
}

/*모바일메뉴바 lnb2*/

.gnb-btn {
    float: right;
    margin: 29px 0;
    height: auto;
    display: none
}


.menubar {
    display: none;
}

.gnb-bg {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 100%;
    display: none;
    z-index: 1;
}

.lnb-list2 {
    overflow-y: auto;
}

.lnb2 > .lnb-list2 > ul > li {
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.lnb2 > .gnb-close-btn {
    text-align: right;
    display: none;
}


.lnb2 .gnb-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 999999;
}

.gnb-close-btn a img {
    width: 21px;
    vertical-align: baseline;
}

.lnb-list2 {
    max-width: 294px;
    width: 294px;
    position: absolute;
    right: 0;
    background: #ffffff;
    height: 100%;
}


.lnb-list2 nav > ul {
    background: #ffffff;
}

.lnb-list2 nav > ul > li {
    text-align: left;
    border-top: 1px solid #bebebe;
}

.lnb-list2 nav > ul > li:last-child {
    border-bottom: 1px solid #bebebe;
}

.lnb-list2 nav > ul > li > a {
    display: block;
    padding: 0 0 0 5.2%;
    width: 100%;
    position: relative;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
}

.lnb-list2 nav > ul > li > a .dep1-before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('../images/m_down.png') no-repeat center;
    right: 10px;
    top: 23px;
}

.lnb-list2 nav > ul > li > a.dep1-link.active .dep1-before {
    background: url('../images/m_up.png') no-repeat center;
  }
  

.lnb-list2 nav > ul > li > a.active {
    background-color: #fff;
    color: #fca501;
}

.lnb-list2 nav > ul > li > a.active:before {
    background: url('../images/m_up.png') no-repeat center;
}

.lnb-list2 nav > ul > li:first-child {
    border-top: none;
}

.lnb-list2 nav > ul > li > div {
    display: block;
}

.lnb-list2 nav > ul > li > div > ul {
    background: #fdfdfd;
}

.dep2 > ul > li {
    border-top: 1px solid #bebebe;
}

.dep2 ul li .dep3-in li:nth-of-type(1) {
    border-top: none;
}

.dep2 ul li:hover > a {
    color: #fca501;
}

.lnb-list2 nav > ul > li > div > ul > li > a {
    display: block;
    font-size: 14px;
    position: relative;
    padding: 20px 0 20px 5.2%;
}

.dep3-in li a {
    font-size: 12px;
    padding: 0 0 0 5.2%;
}

.dep33 a {
    padding: 6.92% 0 20px 4.26% !important;
}

.dep3-in li:last-child {
    margin-bottom: 6.92%;
}

.lnb-list2 nav > ul > li > div > ul > li a[target="_blank"]:after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    margin: 1px 0 0 5px;
}

.lnb-list2 nav > ul > li > div > ul > li.dep2-in > a:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 12px;
}

.lnb-list2 nav > ul > li > div > ul > li > ul > li > ul {
    margin: 0 15px 0 25px;
    background: #f2f2f2;
    padding: 10px;
    border: 1px dotted #a3a3a3;
}

.lnb-list2 nav > ul > li > div > ul > li > ul > li > ul > li > a {
    font-size: 12px;
    font-weight: 300;
    display: block;
    padding: 5px;
}

.lnb-list2 .dep2 {
    display: none;
}

.lnb-list2 .dep3 {
    display: none;
}

.lnb-list2 .dep4 {
    display: none;
}


/*paging*/
.paginBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paging2 {
    clear: both;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}


.pageBtn {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.pageBtn.prev:after {
    content: "";
    width: 5px;
    height: 9px;
    background: url(../images/btn_prev_02.png)no-repeat 100% 50%;
    position: absolute;
    top: 10px;
    right: 12px;
}

.pageBtn.next {
    margin: 0 5px 0 0px;
}

.pageBtn.next:after {
    content: "";
    width: 5px;
    height: 9px;
    background: url(../images/btn_next_02.png)no-repeat 100% 50%;
    position: absolute;
    top: 10px;
    right: 12px;
}

.pageNum.active {
    color: #fca501;
    font-weight: 500;
    text-decoration: underline;
}


.paging2 a {
    font-size: 14px;
    color: #999;
    float: left;
    font-weight: 400;
    padding: 0 10px;
    line-height: 30px;
}

.hidText {
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@media screen and (max-width : 1500px) {

    .contentinner,
    .contentinner2 {
        width: auto;
    }

    .topGnb {
        width: 100%;
    }

    #container {
        width: 92% !important;
    }



    #content {
        width: 78%;
        margin: 0px 0 30px 60px;
    }

    #left {
        float: left;
        width: 17%;
    }

}

@media screen and (max-width:1450px) {
    gnb > li > a {
        font-size: 0.8vw;
    }

    .topGnb h1 {
        width: 16%;
    }

    .topGnb h1 a img {
        width: 70%;
    }


}

@media screen and (max-width:1400px) {
    #header nav ul li a {
        font-size: 17px !important;
    }

}



@media screen and (max-width:1330px) {


    #gnb {
        width: 75% !important;
    }

    .gnb2 {
        margin-left: 0;
    }


    #gnb .depth2 {
        padding: 10px 0;
        margin-left: 19px;

    }

    #gnb .depth2 li a {
        width: 80px;
        font-size: 0.7vw;
    }

    #header > .gnb-btn {
        margin: -50px 0;
    }

    .top a img {
        width: 50%;
    }


    .gnb-btn {
        padding: 0 25px;
    }

    #header {
        width: 100%;
    }

    #header nav,
    #gnb {
        display: none;
    }

    #header .logo {
        width: auto;
        text-align: left;
    }

    #header .gnb-btn {
        display: block;
        position: absolute;
        right: 0;
    }


    .header-menu {
        width: 100%;
        padding: 0;
    }

    #idUploadFileList,
    .file_box .file_input {
        width: 96.4%;
    }



    .content222_inner input,
    .content333_inner .txtarea_1,
    .content333_inner input,
    .content444_inner input {
        width: 96.4%;

    }





    .lnb {
        display: none;
    }

    .lnb2 {
        position: fixed;
        background: #fff;
        height: 100%;
        top: 0;
        right: -506px;
        z-index: 99999999999999999;
    }

    .gnb-btn {
        display: block;
    }

    .gnb2 img {
        right: 75px;
    }


    .log ul .sub2 {
        border: 1px solid #dbdbdb;
        background: #fff;
        margin: 0 auto;
        text-align: center;
        margin-left: -18px;
    }

    .lnb2 > .gnb-close-btn {
        display: block;
    }

    .menubar {
        display: block;
    }


    .lnb > .gnb-close-btn {
        display: block;
    }

    .lnb > h3.member {
        padding-top: 10px;
    }

    #content {
        width: 100%;
        height: 753px;
        margin: 30px 0 30px 0;
    }
}


@media only screen and (min-device-width : 360px) and (max-device-width : 479px) {

    /* mobile*/

    .top_btn img {
        width: 17px;
        height: 17px;
        margin-top: -7px;
    }

    .topGnb_wrap {
        height: 55px;
    }

    #header > .gnb-btn {
        margin: -41px 0;
    }

    .headerWrap {
        height: 55px;
    }

    #content {
        margin: 0;
        height: 673px !important;
        padding-left: 0;
        margin-bottom: 25px;
    }

    .gnb-btn {
        padding: 0 16px;
    }

    .contentinner,
    .contentinner2 {
        width: 343px;
    }

    #container {
        width: 100% !important;
    }

    .table_content3,
    .table_content3 th,
    .table_content3 tr td input,
    .btn2,
    .btn,
    .del,
    .del2,
    .total_p,
    .paging2 a,
    .sa_srch,
    .sa_srch select,
    .sa_srch input,
    .sa_srch button {
        font-size: 13px;
    }


    .content22_inner,
    .content222_inner input,
    .content333_inner .txtarea_1,
    .content333_inner input,
    .content33_inner,
    .content444_inner,
    .content44_inner,
    .content444_inner input {
        font-size: 13px;

    }



    .sa_srch button i {
        font-size: 10px;
    }

    .paging2 a {
        padding: 0 6px;
    }

    .sa_srch input {
        width: 121px;
    }

    .sa_srch select {
        width: 70px;
    }

    .sa_srch button {
        width: 45px;
    }

    .more_b22,
    .more_b33 {
        font-size: 13px;
        padding: 3px 5px;
    }

    .paginBox {
        position: absolute;
        left: 0;
        transform: translateX(35%);
    }

    .total_p {
        transform: translateX(59%);
    }



    .sa_srch button i {
        font-size: 10px;
    }

    .paging2 a {
        padding: 0 6px;
    }

    .sa_srch input {
        width: 121px;
    }

    .sa_srch select {
        width: 70px;
    }

    .sa_srch button {
        width: 45px;
    }

    .more_b22,
    .more_b33 {
        font-size: 13px;
        padding: 3px 5px;
    }

    .paginBox {
        position: absolute;
        left: 0;
        transform: translateX(35%);
    }

    .total_p {
        transform: translateX(35%);
    }

    .contentinner,
    .contentinner2,
    .contentinner3 {
        width: 343px;
    }

    #idUploadFileList {
        width: 93.4%;
    }

}

#tm li.th1 {
    width: 153px;
}

#tm li.th1 .gnb_cont {
    width: 177.4px;
    height: 173px;
}





/*gnb-menu구분표시추가*/
/*
#tm li.th1 > a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    right: 0;
    top: 18px;
    margin-top: -1.5px;
}
*/



#tm li.th1:last-child > a:before {
    content: none;
}

#tm li.th1 > a {
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 1.01rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}



#tm li.th1 .gnb_cont,
#tm li.th1 .gnb_cont ul.gnb_depth2 {
    z-index: -1;
}
